body, p, h1, h2, h3, h4, h5, h6, ul{
    margin : 0;
}

body {
    height: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
}
